<p style="color: green"><%= notice %></p>
<h1>List of ratings</h1>
<p>Number of ratings: <%= @ratings.count %></p>
<div id="ratings">
  <% @ratings.each do |rating| %>
    <%= render rating %>
  <% end %>
</div>
