<%= render @style %>

<% if current_user %>
  <%= link_to "Edit this style", edit_style_path(@style) %>
  <%= button_to "Destroy this style", @style, method: :delete %>
<% end %>

<div>
  <%= link_to "Back to styles", styles_path %> 
</div>
