<div id="<%= dom_id beer %>">
  <p>
    <strong>Name:</strong>
    <%= beer.name %>
  </p>
  <p>
    <strong>Style:</strong>
    <%= beer.style %>
  </p>
  <p>
    <strong>Brewery:</strong>
    <%=
    b =  Brewery.find(beer.brewery_id)
    link_to "#{b.name}", b
    %>
  </p>
</div>
